{% extends 'master.html' %}
{% load static %}
{% block content %}
<h1>Available Room</h1>
   {% for room in rooms %}
<div class="card-group">

   <div class="card">
    <img src="{% static '../' %}{{ room.image }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ room.name }}</h5>
        <h6 class="card-body">{{ room.size }}</h6>
      <p class="card-text">{{ room.desc }}</p><br>
         <p class="card-text">{{ room.price }}</p><br>
    </div>
    <div class="card-footer">
        <a href="/rooms/update/{{ room.id }}" class="btn btn-info">Update</a>
        <a href="/rooms/pay/{{ room.id }}" class=" btn btn-dark">Book</a>
        <a href="/rooms/delete/{{ room.id }}" class="btn btn-danger">Remove</a>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}